{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="{% static 'nav.css' %}" >
    <link rel="stylesheet" href="{% static 'button.css' %}" >

</head>
<style>
.sub{
  margin-left: 300px;
}
  


</style>
<body>
    
    <div class="topnav">
        <a href="/home">{{user}}</a>
        <a class="active" href="/home">Home</a>
        <a href="/predict" >Prediction</a>
        <a href="/">Logout</a>
      </div>
        <hr>
        <br>
        <section class="sec">
        <div>
            <h3 class="head" style="float:center;">PREDICT HERE</h3>
            <br>
            <br>
            <form method="POST" action="{% url 'predict' %}" class="search" >
                {%csrf_token%}
                <label style="font-size: 20px;">CustomerId:</label>
                <input class="xt" type="text" name="sno">  
                <button class="btn btn-warning" type="submit">Search</button>
            </form>
            <br>
            <br>
            <br>
            <br>
            {% for cus in details%}
            <table class="content-table" style="float: center; margin-left:30px">
                <tr class="one" style="color: black;">
                    <th>CustomerId</th>
                    <th>Prediction</th>

                </tr>
                <tr>
                    <td>{{id}}</td>
                    <td>{{cus}}</td>
                </tr>
            </table>
            {%endfor%}
        </div>
        </section>